<nav class="bottom-nav">
  <a href="../inicio/" class="bottom-nav__link" data-route="/inicio/">
    <i class="fa-solid fa-house bottom-nav__icon"></i>
    <span class="bottom-nav__label">Início</span>
  </a>

  <a href="../clientes/" class="bottom-nav__link" data-route="/clientes/">
    <i class="fa-solid fa-user bottom-nav__icon"></i>
    <span class="bottom-nav__label">Clientes</span>
  </a>

  <button id="openClientModal" class="bottom-nav__fab" aria-label="Adicionar cliente">
    <i class="fa-solid fa-plus"></i>
  </button>

  <a href="../oportunidades/" class="bottom-nav__link" data-route="/oportunidades/">
    <i class="fa-solid fa-briefcase bottom-nav__icon"></i>
    <span class="bottom-nav__label">Oport.</span>
  </a>

  <a href="../mais/" class="bottom-nav__link" data-route="/mais/">
    <i class="fa-solid fa-ellipsis bottom-nav__icon"></i>
    <span class="bottom-nav__label">Mais</span>
  </a>
</nav>