<nav class="bottom-nav">
  <a href="./dashboard.html" class="bottom-nav__link active">
    <i class="fa-solid fa-house bottom-nav__icon"></i>
    <span class="bottom-nav__label">Dashboard</span>
  </a>

  <a href="#" class="bottom-nav__link">
    <i class="fa-solid fa-user bottom-nav__icon"></i>
    <span class="bottom-nav__label">Clientes</span>
  </a>

  <button id="openClientModal" class="bottom-nav__fab" aria-label="Adicionar cliente">
    <i class="fa-solid fa-plus"></i>
  </button>

  <a href="#" class="bottom-nav__link">
    <i class="fa-solid fa-briefcase bottom-nav__icon"></i>
    <span class="bottom-nav__label">Oport.</span>
  </a>

  <a href="#" class="bottom-nav__link">
    <i class="fa-solid fa-ellipsis bottom-nav__icon"></i>
    <span class="bottom-nav__label">Mais</span>
  </a>
</nav>