<aside class="sidebar" id="sidebar">
  <div class="sidebar__top">
    <a href="#" class="sidebar__link" data-route-key="inicio" data-route="/inicio/">
      <img src="../assets/logo/mdo.png" alt="Íris CRM" class="sidebar__logo">
    </a>
  </div>

  <nav class="sidebar__nav">
    <a href="#" class="sidebar__link" data-route-key="inicio" data-route="/inicio/">
      <i class="fa-solid fa-house sidebar__link-icon"></i>
      <span>Início</span>
    </a>

    <a href="#" class="sidebar__link" data-route-key="clientes" data-route="/clientes/">
      <i class="fa-solid fa-user sidebar__link-icon"></i>
      <span>Clientes</span>
    </a>

    <a href="#" class="sidebar__link" data-route-key="oportunidades" data-route="/oportunidades/">
      <i class="fa-solid fa-briefcase sidebar__link-icon"></i>
      <span>Oportunidades</span>
    </a>

    <a href="#" class="sidebar__link" data-route-key="lembretes" data-route="/lembretes/">
      <i class="fa-solid fa-bell sidebar__link-icon"></i>
      <span>Lembretes</span>
      <span class="sidebar__badge">3</span>
    </a>
  </nav>

  <div class="sidebar__bottom">
    <button id="logoutButtonDesktop" class="sidebar__logout">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span>Sair</span>
    </button>
  </div>
</aside>